# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Env files
.env
.env.*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo